<div id="login-modal">
  <div id="login-content">
    <div id="login-body">
       <h4 id="login-title">Log In</h4>
       <form id="login">
       <input type="text" ng-model="user.username" placeholder="Username">
       <input type="text" ng-model="user.password" placeholder="Password">
       <br>
       <input type="submit">

       <h4 class="signupText">Not a Member? Signup</h4>
       </form>
    </div>
  </div>
</div>
